@font-face {

  font-family: "rainfall";

src: url("  Fonts/rainfall.otf");
}

@font-face {

  font-family: "montserrat";

src: url("Fonts/montserrat-regular.ttf");
}

@font-face {

  font-family: "bebas";

src: url("Fonts/bebas-regular");
}

body {
  font-family: "montserrat";
  color: #FFA88E;
  background-color: #000A0A;
  font-variant: normal;
  background-image: url("Images/WebsiteBackgroundTop.jpg"), url("Images/WebsiteBackground.jpg");
  background-repeat: no-repeat, repeat-y;
  letter-spacing: normal;
  word-spacing: normal;
  /* <Ed> This next bit seems to work best for text size adjusting */
  -moz-text-size-adjust: 200%;
  -webkit-text-size-adjust: 200%;
  -ms-text-size-adjust: 200%;
  background-position: center top;
  text-align: center;
}

/* unvisited link */
a:link {
  color: #FFE270;
}

/* visited link */
a:visited {
  color: #FFE270;
}

/* mouse over link */
a:hover {
  color: #FF9848;
}

/* selected link */
a:active {
  color: yellow;
}

.column-left {
  float: left;
  width: 33%;
}

.column-right {
  float: right;
  width: 33%;
}

.column-center {
  display: inline-block;
  width: 33%;
}

.halfscaledimage {
  transform: scale(0.5);
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.screenshots {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  transform: scale(0.5);
}

/* <Ed> Should only have one h1 for better SEO */
h1 {
    font-family: "bebas";
    color: #E66F6C;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: 40px;
    font-weight: normal;
    -moz-text-size-adjust: 200%;
    -webkit-text-size-adjust: 200%;
    -ms-text-size-adjust: 200%;
}

h2 {
  font-family: "bebas";
  color: #E66F6C;
  letter-spacing: normal;
  word-spacing: normal;
  font-size: 40px;
  font-weight: normal;
  -moz-text-size-adjust: 200%;
  -webkit-text-size-adjust: 200%;
  -ms-text-size-adjust: 200%;
}

h3 {
  font-family: "rainfall";
  font-size: 30px;
  color: #E66F6C;
  font-weight: normal;
  -moz-text-size-adjust: 200%;
  -webkit-text-size-adjust: 200%;
  -ms-text-size-adjust: 200%;
}

h4 {
    font-family: "rainfall";
    font-size: 22px;
    color: #E66F6C;
    line-height: 0.1;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-weight: normal;
    letter-spacing: normal;
    word-spacing: normal;
    -moz-text-size-adjust: 200%;
    -webkit-text-size-adjust: 200%;
    -ms-text-size-adjust: 200%;
}

h5 {
  text-align: center;
  letter-spacing: 4px;
  font-size: 60px;
  font-weight: bold;
  -moz-text-size-adjust: 200%;
  -webkit-text-size-adjust: 200%;
  -ms-text-size-adjust: 200%;
}

form {
  /* background-color: #002324; */
  margin-right: auto;
  margin-left: auto;
  width: 760px;
  border-top-color: #5d3f82;
  border-right-color: #5d3f82;
  border-bottom-color: #5d3f82;
  border-left-color: #5d3f82;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.txtbox {
  width: 240px;
}

.field_label {
  text-align: right;
}

.field_input {
  text-align: left;
}

input {
  font-family: "montserrat";
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #FFA88E;
  border-right-color: #FFA88E;
  border-bottom-color: #FFA88E;
  border-left-color: #FFA88E;
  border-radius: 5px;
}

input[type="text"] {
  width: 50%;
}

input[type="email"] {
  width: 50%;
}

input[type="text"]:focus {
  border-top-color: #333333;
  border-right-color: #333333;
  border-bottom-color: #333333;
  border-left-color: #333333;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
}

input[type="submit"] {
animation-name: flashanim;
animation-duration: 3s;
animation-iteration-count: infinite;
}

textarea
{
   font-size: 16px;
}


.attentiongrabberbutton {
    animation-name: flashanim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.button {
  font-family: "rainfall";
  font-size: 32px;
  color: #ffffff;
  background-color: #63369e;
  width: 320px;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  cursor: pointer;
  border-radius: 12px;

    position: relative;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:active {
  animation-name: buttonanimonclick;
  animation-duration: 1s;
}


@keyframes buttonanimonclick {
      from {
        background-color: #DEDCF5;
      }

      50% {
        background-color: #63369e;
      }

      to {
        background-color: #DEDCF5;
      }
}

@keyframes flashanim {
      from {
        background-color: #E15450;
      }

      50% {
        background-color: #002829;
      }

      to {
        background-color: #E15450;
      }
}

@keyframes flashanimborder {
      from {
        border-color: #63369e;
        background-color: #FFFFFF;
      }

      50% {
        border-color: #DEDCF5;
        background-color: #ccc9f2;
      }

      to {
        border-color: #63369e;
        background-color: #FFFFFF;
      }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@media (min-width: 858px) {
    html {
        font-size: 25px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 23px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 19px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 17px;
    }
}

/*------------------------STEAM WIDGET------------------------------*/
/*
.widget-wrapper {
	background: #14011d;
	min-width: 265px;
	max-width: 1000px;
	width: 60%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
	overflow: hidden;
}
.steam-widget {
	position: relative;
	padding-top: 0px;
	width: 90%;
	max-height: 216px;
	height: calc(80vw*216/100);
	z-index: 5;
	overflow: hidden;
}
.steam-widget iframe, .steam-widget object, .steam-widget embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	overflow: hidden;
}
*/
